<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <title>JPetStore Demo</title>

    <link rel="stylesheet" href="/css/jpetstore.css" type="text/css" media="screen"/>

</head>

<body>

<header th:replace="/common/top"></header>


<div id="Catalog">


    <h2>My Orders</h2>


    <table>

        <tr>

            <th>Order ID</th>

            <th>Date</th>

            <th>Total Price</th>

        </tr>


        <tr th:each="orderImpl : ${session.orderList}">

            <td>

                <a th:href="@{/orderImpl/viewOrder(orderId=${orderImpl.orderId})}" th:text="${orderImpl.orderId}"></a>

            </td>

            <td th:text="${#dates.format(orderImpl.orderDate, 'yyyy/MM/dd hh:mm:ss')}"></td>

            <td th:text="${#numbers.formatDecimal(orderImpl.totalPrice, 1, 2)}"></td>

        </tr>

    </table>


</div>


<footer th:replace="/common/bottom"></footer>

</body>

</html>